<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css"/>

  <meta charset="utf-8">
  <title>Burger Refill</title>

  <script src="/assets/js/script.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>
