<div class="contrainer">

  <div class="no-col-one">
    <div class="center">
      <h1>Burger Refill</h1>
    </div>
  </div>
  <!-- image here -->

  <div class="no-col-three">

    <div class="col-one center">
      <h2>Burgers available</h2>

      <ul>
        <li>Burger 1</li>
        <li>Burger 2</li>
        <li>Burger 3</li>
      </ul>
    </div>

    <div class="col-two center">
      <h2>Add a burger</h2>

      <form action="#">
        <input type="text" name="burger-name" value="A Really Good Burger">

        <button type="button" name="button">TEST</button>
    </div>

    <div class="col-three center">
      <h2>Burgers ate</h2>

      <ul>
        <li>Burger 1</li>
        <li>Burger 2</li>
        <li>Burger 3</li>
      </ul>
    </div>

  </div>

</div>
